langchain
langchain-community
llama-parse
fastembed
chromadb
python-dotenv
langchain-groq
chainlit
fastembed
unstructured[md]
streamlit 
streamlit_chat

InstructorEmbedding
torch
sentence_transformers
transformers
langsmith
streamlit_chat
streamlit_pdf_viewer
langchain-groq
pypdf
pysqlite3-binary